@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic);

.userHeader{
    border-bottom: 1px solid #eee;
    padding-bottom:1px;
    margin-bottom:0px;
}

.profileHeader{
  padding-top: 10px!important;
  color: #e74430;
  font-size: 18px;
  padding-bottom: 11px;
}

.dateLabel{
    display: block;
    color: #525252;
    padding-left: 31px;
    text-shadow: 0 1px 0 #fff;
    font-size: 12px;
}

.page-title{
  float: left;
}

.page-title h3{
  color: #e74430;
  font-size: 24px;
  margin-bottom: 0px;
}

.page-stats{
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  margin-bottom: 0px;
  padding-bottom:0px;
}

.page-stats li {
  float: left;
  display: block;
  padding: 0 20px;
}

.page-stats li div span{
    font-size: 11px;
    font-weight: 600;
    color: #bbb;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
}

.page-stats li div h4 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #777;
    margin: 5px 0;
}

.chartStyle{
  width:125px;
  margin-left:40px;
  height:125px;
}

.profile-navbar{
  width: 100%;
}

body{
  color: #525252;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.actionbar-wrapper{
    background: #eee;
    padding: 15px;
    margin-top: 18px;
    border: 1px solid #dfdfdf;
    border-width: 1px 0;
    text-align: left;
    padding-bottom: 13px;
    padding-top: 13px;
}

.shortcut-link {
    display: inline-block;
    color: #ccc;
    margin-right: 20px;
    text-shadow: 0 1px 0 #fff;
    transition: color .2s ease;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
}

.projectcard-panel {
    border-color: #d2d2d2;
    box-shadow: 0 1px 0 #cfcfcf;
    border-radius: 3px;
    padding: 2px 2px;
    margin:7px;
}

.project-icon {
    float: left;
    margin-top: -9px;
    margin-left: -8px;
    top: 0px;
    padding-top: 0px;
}

.project-title-label{
  border: 0 solid #efefef;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 26px;
    text-align: left;
    margin-bottom: 3px;
}

.project-panel-heading {
    background-color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    color: #262626;
    border-color: #ffffff;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.project-panel-heading-description{
  padding-left: 5px;
  font-weight: 800;
  color: #e74430;
}

.project-panel-body {
    padding-top: 0px;
}

.project-panel-project-attribute {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
    font-weight: 600;
}

.project-panel-project-attribute span small{
    font-weight: 400;
    text-align: left;
    font-size: 13px;
}

.project-time-slider{

}

#BC .slider-selection {
	background: #8283FF;
}
#BC .slider-handle {
	border-bottom-color: blue;
}

#time-slide {
	width: 300px;
}

.project-panel-slider-container{
  margin-left: 9px;
  width:175px;
}

.health-button-group{
  padding-left: 17px;
}

.panel-container{
  padding:0px;
  margin:0px;
}
.slider-horizontal{
  width:175px!important;
}

textarea{
  width: 185px;
}
