<?xml version="1.0" encoding="utf-8"?>
<!--Created:cbbc9d22-5cf7-4e4c-8ee9-42a772aae58a-->
<OfficeApp xsi:type="MailApp" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/office/appforoffice/1.0">
  <Id>{4b9938a4-487d-4f8e-bf92-24370986d667}</Id>
  <Version>1.0.0.0</Version>
  <ProviderName>Orwell</ProviderName>
  <DefaultLocale>en-US</DefaultLocale>
  <DisplayName DefaultValue="Update Project Status" />
  <Description DefaultValue="Update the status of your projects for the current week" />
  <Capabilities>
    <Capability Name="Mailbox" />
  </Capabilities>
  <DesktopSettings>
    <SourceLocation DefaultValue="https://project-o.azurewebsites.net/AppRead/Home/" />
    <RequestedHeight>250</RequestedHeight>
  </DesktopSettings>
  <TabletSettings>
    <SourceLocation DefaultValue="https://project-o.azurewebsites.net/AppRead/Home/" />
    <RequestedHeight>250</RequestedHeight>
  </TabletSettings>
  <PhoneSettings>
    <SourceLocation DefaultValue="https://project-o.azurewebsites.net/AppRead/Home/" />
  </PhoneSettings>
  <Permissions>ReadItem</Permissions>
  <Rule xsi:type="RuleCollection" Mode="And">
    <!-- To add more complex rules, add additional rule elements -->
    <Rule xsi:type="ItemIs" ItemType="Message" IncludeSubClasses="false" />

    <Rule xsi:type="ItemHasRegularExpressionMatch" PropertyName="Subject" RegExName="status" RegExValue="Allocations for Week Ending" IgnoreCase="true" />

    <Rule xsi:type="RuleCollection" Mode="Or">
      <Rule xsi:type="ItemHasRegularExpressionMatch" PropertyName="SenderSMTPAddress" RegExName="stefango" RegExValue="stefango" IgnoreCase="true"/>
      <Rule xsi:type="ItemHasRegularExpressionMatch" PropertyName="SenderSMTPAddress" RegExName="adamshirey" RegExValue="adam\.shirey" IgnoreCase="true"/>
      <Rule xsi:type="ItemHasRegularExpressionMatch" PropertyName="SenderSMTPAddress" RegExName="tpark" RegExValue="tpark" IgnoreCase="true" />
      <Rule xsi:type="ItemHasRegularExpressionMatch" PropertyName="SenderSMTPAddress" RegExName="erisch" RegExValue="erisch" IgnoreCase="true" />
    </Rule>
    <!-- E.g. To activate when a message contains an address -->
    <!-- <Rule xsi:type="ItemHasKnownEntity" EntityType="Address" /> -->
  </Rule>
  <DisableEntityHighlighting>true</DisableEntityHighlighting>
</OfficeApp>